@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./chat_bg.png");
  /* background-size: cover; */
  /* background-position: center; */
}
::-webkit-file-upload-button {
  background: transparent;
  border: 1.5px solid #3182ce;
  color: white;
  padding: 0.1em;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.281);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
